/* GENERAL */

* {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    background-image: url(../images/bg/foret.jpg);
    background-size: cover;
}

/* HEADER */
.headbar {
    background-image: url(../images/textures/wood.png);
    background-position-y: 100px;;
    height: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-weight: bold;
}

.headbar img {
    width: 30px;
    height: 30px;
}

.headbar #niveauEnCours {
    font-size: 1.2em;
}

.headbar div:nth-child(3) {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

/* CONTENEUR */

.conteneur {
    display: flex;
    height: 120%;
}

.conteneurGauche,
.conteneurDroite {
    width: 20%;
}

.conteneurMilieu {
    width: 60%;
    display: flex;
    flex-direction: column;
}

/********************** JOURNAL DE BORD ***********************/

/***** JOURNAL DE BORD FERME *****/

.jdbFerme {
    width: 50px;
    height: 800px;
    background: url(../images/textures/scroll.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    position: absolute;
    left:0;
    top: 120px;

}

.jdbFerme h5 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: auto;
    font-size: 25px;
    letter-spacing: 0.5rem;
}

.jdbFerme img {
    height: 50px;
    width: 50px;
    transform: rotate(90deg);
}

/***** JOURNAL DE BORD OUVERT *****/


/************** CASERNE ************/

.caserneFerme {
    width: 50px;
    height: 800px;
    background: url(../images/textures/scroll.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #000;
    position: absolute;
    right:0;
    top: 120px;
}

.caserneFerme div {
    height: 30%;
    display: flex;
    border-bottom: 1px solid #000;
}


.caserneFerme h5 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    margin: auto;
    font-size: 20px;
    letter-spacing: 0.3rem;
}

.caserneFerme img {
    height: 50px;
    width: 50px;
    transform: rotate(-90deg);
}

/* MONSTRE */

.monstreDiv {
    display: flex;
    flex-direction: column;
    margin: 70px 0;
    width: 100%;
}

#monstre {
    height: 300px;
    width: 400px;
    background: rgba(0, 0, 53, .8);
    border-radius: 2%;
    border: 1px solid #000;
    margin: auto;
}

.monstreVieCadre {
    position: relative;
    width: 400px;
    height: 20px;
    margin: auto;
    border: 1px solid #000;
    background-color: #4D0000;
}

.monstreVieBarre {
    background: #FF0000;
    position: absolute;
    top: 0;
    left: 0;
    width: 282px;
    height: 20px;
}

/* PANEL DU HEROS */

.herosDiv {
    height: 300px;
    width: 800px;
    margin: 30px auto 0 auto;
    display: flex;
    position: relative;
}

.herosDiv .herosDivDroite,
.herosDiv .herosDivGauche {
    width: 30%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.herosDiv .herosDivGauche #potion {
    border-radius: 10px;
    background-color:rgba(0,52,81, 0.8);
    height: 100px;
    width: 100px;;
    position: absolute;
    right:0;
    border: 1px solid #000;
}

.herosDiv .herosDivGauche #shiva {
    border-radius: 10px;
    background-color: rgba(0,52,81, 0.8);
    height: 150px;
    width: 150px;;
    position: absolute;
    right:0;
    bottom:0;
    border: 1px solid #000;
}

.herosDiv .herosDivDroite #competence {
    border-radius: 10px;
    background-color: rgba(0,52,81, 0.8);
    height: 100px;
    width: 100px;;
    position: absolute;
    left:0;
    border: 1px solid #000;
}

.herosDiv .herosDivDroite #toundra {
    border-radius: 10px;
    background-color: rgba(0,52,81, 0.8);
    height: 150px;
    width: 150px;;
    position: absolute;
    left:0;
    bottom:0;
    border: 1px solid #000;
}

.herosDiv .herosDivMilieu {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.herosDiv .herosDivMilieu .herosVieCadre {
    background-color: #003004;
    border: 1px solid #000;
    position: relative;
    height: 20px;
}

.herosDiv .herosDivMilieu #herosVieBarre {
    background-color:#00931C;
    position: absolute;
    top:0;
    left:0;
    width: 150px;
    height: 20px;
}

.herosDiv .herosDivMilieu div {
    background: rgba(0, 0, 53, .8);
}

#herosImage {
    height: 290px;
    border-radius: 10px;
    border: 1px solid #000;
    display: flex;
}

#herosImage img {
    height: 95%;
    margin: auto;
}

.alliesDiv {
    background: url(../images/textures/scroll.jpg) rgba(0,0,0,.65);
    background-size: cover;
    height: 100px;
    width: 100%;
    border-radius: 10px;
    margin: auto;
}